<launch>
  <!-- 啟動 megapose_client 節點 -->
  <node pkg="visp_megapose" type="megapose_client" name="megapose_client_shelf" output="screen">
    <!-- 設定影像主題與相機資訊主題 -->
    <param name="image_topic" value="/camera/color/image_raw"/>
    <param name="camera_info_topic" value="/camera/color/camera_info"/>
    <param name="use_depth" value="False"/>
    <param name="depth_topic" value="/camera/aligned_depth_to_color/image_raw"/>
    <param name="depth_info_topic" value="/camera/aligned_depth_to_color/camera_info"/>
    <param name="camera_tf" value="camera_color_optical_frame"/>
    <!-- 選擇檢測方法 (CLICK 或 DNN) -->
    <param name="detector_method" value="DNN"/>  
    <!-- 設定模型檔案路徑 (yolov7 onnx 格式) -->
    <param name="detector_model_path" value="$(find visp_megapose)/data/shelf.onnx"/>
    <!-- 設定 DNN 檢測物體名稱 -->
    <param name="object_name" value="shelf"/>
    <!-- 啟用或禁用渲染服務(True or False) -->
    <param name="render_enable" value="False"/>
    <!-- 啟用或禁用 UI(True or False) -->
    <param name="UI_enable" value="True"/>
    <!-- 設定檢測模式(Auto 或 Manual) -->
    <param name="detection_mode" value="Manual"/>
    <!-- 設定檢測允許主題 -->
    <!-- <param name="detection_allowed_topic" value="/shelf_detection"/> -->
    <!-- 設定moving average filter -->
    <param name="buffer_size" value="5"/>
    <!-- 設定是否使用 bounding box (True or False)-->
    <param name="bounding_box" value="True"/> 
  </node>
</launch>
