<launch>
<node pkg="forklift_server" type="ctrl_server_megapose_differential_drive.py" name="ctrl_server_megapose" output="screen">
    <rosparam param="command">
    [
        ['TopologyMap', 'P1'],
        ['TopologyMap', 'P2'],
        ['TopologyMap', 'P3'],

        ['PBVS', 'fruit_docking', 0.0],

    ] 
    </rosparam>
    <rosparam param= "waypoints">
    {    
        "P1": [3.398, -0.055, -0.008, 1.000],
        "P2": [3.398, -0.055, -0.710, 0.704],
        "P3": [3.321, -3.682, -0.709, 0.705],
    }
    </rosparam>
</node>
</launch>

